:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  text-align: center;
  header {
    img {
      width: 50%;
      aspect-ratio: 1;
      border-radius: 100px;
    }
  }
  main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 100%));
    .card {
      display: flex;
      background-color: #111;
      padding: 20px 40px;
      border-radius: 30px;
      svg {
        color: white;
      }
    }
  }
}