:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  text-align: center;
  header {
    margin-bottom: 30px;
    .usericon {
      width: 50%;
      aspect-ratio: 1;
      border-radius: 100%;
      padding: 0 15px 30px 15px;
      background-color: black;
    }
  }
  main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 100%));
    gap: 30px;
    width: 80%;
    margin: 0 auto;
    .card {
      width: 200px;
      background-color: rgb(170, 170, 170);
      border-radius: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 4.5rem;
      height: 75px;
      overflow: hidden;
      text-decoration: none;
      .icon {
        height: 150%;
        padding-right: 50px;
        margin-left: -15px;
        mask-image: linear-gradient(to right, black 0%, transparent 100%);
      }
      h3 {
        font-size: 1.5rem;
        font-weight: 500;
        margin: 0;
        color: black;
      }
    }
  }
}
